fastapi==0.115.11
pydantic==2.10.6
uvicorn==0.34.0
openai==1.65.5
langchain==0.3.20
langchain-openai==0.3.8
langgraph==0.3.5
langchain-core==0.3.43
chromadb==0.6.3
langchain-chroma==0.2.2
pandas==2.2.3
langchain-community==0.3.19
streamlit==1.42.0
websocket-client==1.8.0
pydantic>=2.0.0
openpyxl==3.1.5
langchain-experimental==0.3.4